.App {
    text-align: center;
    max-width: "1800px";
    display: flex;
    flex-direction: column;
}

.text {
    font-family: "Super Mario 256", sans-serif;
    color: whitesmoke;
    font-size: 2rem;
}

.finish {
    max-width: 30%;
    margin-left: 60%;
}
